.Settings {
    padding: 20px;
    background-color: #000;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // height: 100%;
}
.buttonStyle {
    margin-top: 20px;
    color: #fff;
    border-radius: 30px;
    border-color: teal;
    border-width: 1px;
    padding: 10px 30px;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.loginStatusText {
    color: rgb(126, 126, 126);
    font-size: 12px;
    margin-top: 10px;
    font-family: 'Montserrat-Medium';
    text-align: center;
}
.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.userImage {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.nameText {
    color: white;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Montserrat-SemiBold';
    text-transform: uppercase;
    letter-spacing: 1px;
}
.emailText {
    color: rgb(126, 126, 126);
    font-size: 12px;
    margin-top: 10px;
    font-family: 'Montserrat-Medium';
    
}
.logoutBtn {
    @extend .buttonStyle
}

// sign in button
.signInBtn {
    // background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.signInText {
    @extend .buttonStyle
}

// menu
.menu {
    margin-top: 20px;
    margin-bottom: 40px;
}
.eachRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.eachMenuItem {
    border-top-width: 1px;
    border-top-color: rgb(49, 49, 49);
    padding: 15px 0;
}
.leftPart {

}
.label {
    color: rgb(121, 121, 121);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Montserrat-Medium';
}
.labelClickable {
    @extend .label;
    color: #fff;
}
.value {
    color: teal;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Montserrat-SemiBold';
}
.arrowIcon {
    color: #fff;
    font-size: 10px;
}
.spacer {
    border-top-width: 1px;
    border-top-color: rgb(49, 49, 49);
    padding: 15px 0;
}